
docker
imbalanced-learn
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kmeans-smote
kneed
matplotlib
matplotlib-inline
notebook
numpy
openpyxl
pandas
click
pickleshare
pymongo
PyYAML
scikit-learn
scipy
seaborn
sklearn
streamlit
xgboost
